.section_diseno{
	/*height: 100vh;*/
	background-color: var(--azul);
	position: relative;
}

/* Horizontal scrolling */
	.container {
		width: 600%;
		height: 100vh;
		display: flex;
		flex-wrap: nowrap;
		background-image: url('../img/fondos/textura-azul.png');
		background-attachment: fixed;
	}

	.panel{
		height: 100vh;
		width: 100vw;
		position: relative;
		border: solid pink;
		/*background-color: var(--azul);*/
		/*background-image: url('../img/fondos/textura-azul.png');*/
	}

	.lastContainer {
	  display: flex;
	  height: 100vh;
	  background: yellow;
	}
	.dis_bold{
		font-family: 'FilsonProBold', sans-serif;
	}
	.dis_book{
		font-family: 'FilsonProBook', sans-serif;
	}
	.dis_button{
		cursor: pointer;
		border: solid;
		width: 3rem;
		height: 3rem;
		border: none;
		margin-top: 3rem;
		animation: pulse-animation 2s infinite;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border-radius: 50%;
	}
	.dis_button img{
		width: 100%;
		height: 100%;
	}
/* Aux */
	.dis_aux{
		position: absolute;
		width: 50px;
		height: 50px;
		left: 50%;
		z-index: 20;
		/*visibility: hidden;*/
	}
	.dis_aux01{
		background-color: fuchsia;
		top: 25vw;
	}
	.dis_aux1{
		background-color: fuchsia;
		top: 100vw;
	}
	.dis_aux2{
		background-color: turquoise;
		top: 150vw;
	}
	.dis_aux3{
		background-color: purple;
		top: 250vw;
	}
	.dis_aux4{
		background-color: purple;
		top: 300vw;
	}
	.dis_aux5{
		background-color: purple;
		top: 350vw;
	}
	.dis_aux6{
		background-color: purple;
		top: 400vw;
	}
	.dis_aux7{
		background-color: purple;
		top: 450vw;
	}
	.dis_aux8{
		background-color: purple;
		top: 650vw;
	}
	.float{
		/*animation: float 2s ease-in-out infinite;*/
	}


/* Section 1 */
	.dis1{
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.dis1_col1{
		background-image: url('../img/diseno/columna_foco.png');
		background-size: cover;
		position: relative;
		background-repeat: no-repeat;
		height: 30vh;
	}

	.dis1_fondo_closet{
		width: 100%;
	}
	.dis1_lupa{
		position: absolute;
		width: 43.8%;
		top: 37%;
		left: 26.65%;
		z-index: 15;
		transition: all 1s ease;
		opacity: 0;
		border: solid;
	}
	.dis1_foco{
		position: absolute;
		width: 14%;
		top: 30%;
		left: 42.5%;
		z-index: 15;
		/*opacity: 0;*/
		transition: all 1s ease;
	}
	.dis1_col2{
		padding: 10% 5%;
		position: relative;
		transition: all 1s ease;
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.dis1_necesario{
		text-transform: uppercase;
		color: var(--lima);
		font-family: 'FilsonProRegular', sans-serif;
		letter-spacing: 1.5px;
		color: var(--lima);
	}
	.dis_titulo{
		transition: all 1s ease;
		font-family: 'FilsonProBold', sans-serif;
	}
	.dis1_titulo{
		color: var(--lima);
		font-family: 'FilsonProBold', sans-serif;
		margin-top: 1rem;
		/*color: transparent;*/
		color: var(--lima);
	}
	.dis1_variedad{
		color: #fff;
		width: 80%;
		line-height: 1.4;
		margin-top: 15%;
	}

/* Section 2 */
	.dis2{
		padding: 5% 10%;
		position: relative;
		border: solid yellow;
		height: 100%;
	}
	.dis2_texto{
		/*opacity: 0;*/
		transition: opacity 0.5s ease;
	}
	.dis2_titulo{
		color: #fff;
	}
	.dis2_titulo span{
		color: var(--lima);
	}
	.dis2_calidad{
		color: var(--lima);
	}
	.dis2_texto_numero{
		margin-top: 2.5rem;
		display: flex;
		width: 100%;
		align-items: flex-start;
		column-gap: 1rem;
	}
	.span_numero{
		display: block;
		border: solid;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: solid #fff 2px;
		background-color: var(--lima);
	}
	.dis2_texto_numero div{
		width: 100%;
	}
	.dis2_p{
		color: #fff;
		margin-top: .5rem;
		line-height: 1.5;
	}
	.dis2_tela_div{
		position: absolute;
		left: 40%;
		width: 50%;
		/*border: solid;*/
		margin-top: 3%;
	}
	.dis2_tela{
		width: 100%;
	}
	.dis2_reveal{
		background-image: url('../img/diseno/textura_blanca.png');
		background-size: cover;
		width: 80%;
		position: relative;
		left: 20%;
		top: 10%;
		padding: 1.5rem 2rem;
		border-radius: 1rem;
		box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.75);
		opacity: 0;
		transition: opacity 0.5s ease;
		max-width: 800px;
	}
	.dis2_button{
		position: absolute;
		left: 50%;
		top: 30%;
		z-index: 100;
	}
	.dis2_button:hover + .dis2_reveal {
	    opacity: 1;
	}
	.dis2_button:hover{
		animation-name: none;
	}
	.dis2_reveal div{
		display: flex;
		align-items: center;
		margin: 1rem 0;
	}
	.dis2_reveal p{
		color: #000;
		font-size: 1.1rem;
	}
	.dis2_reveal img{
		width: 2rem;
		margin-right: .8rem;
	}
	.dis2_reveal h3{
		color: #df7d57;
		margin-bottom: 1rem;
		font-size: 1.3rem;
	}

/* Panel 3 */
	.dis3{
		display: grid;
		grid-template-rows: 50% 50%;
		padding: 4% 5%;
		grid-column-gap: 5%;
		text-align: center;
		height: 100%;
	}
	.dis3_button{
		z-index: 100;
	}
	.dis3_col{
		position: relative;
		/*border: solid;*/
		height: 100%;
	}
	.dis3_texto{
		/*opacity: 0;*/
		transition: opacity 0.5s ease;
	}
	.dis3_texto_div{
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 1rem;
	}
	.dis3_flecha{
		margin-top: 1rem;
		width: 1.8rem;
		margin-bottom: 1rem;
	}
	.dis3_titulo{
		color: var(--lima);
		text-align: center;
		letter-spacing: .5px;
	}
	.dis3_p{
		text-align: center;
		color: #fff;
		line-height: 1.5;
		width: 100%;
		margin: auto;
		margin-top: .5rem;
	}
	.dis3_modificables_div{
		width: 70%;
		margin: 0 auto;
		position: relative;
	}
	.dis3_modificables{
		width: 100%;
	}
	.dis3_modificables_div .dis3_button{
		position: absolute;
		top: 5%;
		left: 40%;
	}
	
	.dis3_revealp{
		opacity: 0;
		transition: opacity 0.5s ease;
		background-image: url('../img/diseno/textura_blanca.png');
		background-size: cover;
		width: 100%;
		padding: 1.5rem 2rem;
		border-radius: 1rem;
		box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.75);
		opacity: 0;
		max-width: 800px;
		position: absolute;
		left: 0%;
		top: 10%;
	}
	.dis3_revealp_div{
		display: grid;
		grid-template-columns: repeat(3, 33.3%);
		column-gap: .5rem;
	}
	.dis3_revealp_div img{
		width: 100%;
	}

	/* col 2 */
		.dis3_col2{
			color: #fff;
		}
		.dis32_texto{
			height: 70%;
		}
		.dis3_div_botones{
			position: relative;
		}
		.dis3_botones{
			width: 34%;
			margin-bottom: .5rem;
		}
		.dis3_button2{
			position: absolute;
			left: 47%;
			top: 10%;
			z-index: 100;
		}
		.dis3_flecha_larga{
			width: 1.2rem;
			margin-bottom: .5rem;
		}
		.materiales{
			position: absolute;
			transition: opacity 0.5s ease;
			opacity: 0;
			background-image: url('../img/diseno/textura_blanca.png');
			background-size: cover;
			width: 100%;
			padding: 1.5rem 1rem;
			border-radius: 1rem;
			box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.75);
			opacity: 0;
			max-width: 800px;
			position: absolute;
			left: 0%;
			top: 0%;
			color: #000;
		}
		.materiales img{
			width: 100%;
			margin-top: 1rem;
			margin: 0 auto;
			max-width: 600px;
		}
		.dis3_materiales_row{
			width: 80%;
			margin: auto;
			margin-top: 2rem;
			display: flex;
			align-items: center;
			column-gap: 2rem;
		}
		.dis3_materiales_material img{
			width: 5rem;
		}
		.dis3_materiales_circle{
			width: 100%;
			position: relative;
		}
		.circle_cristal{
			width: 9rem;
			height: 9rem;
			background-color: #90a0e7;
			border-radius: 50%;
			margin: auto;
		}
		.circle_plastico{
			width: 1.4rem;
			height: 1.4rem;
			background-color: #62a97c;
			border-radius: 50%;
			margin: auto;
			margin-top: 5px;
		}
		.circle_acero{
			width: .8rem;
			height: .8rem;
			background-color: #df7d57;
			border-radius: 50%;
			margin: auto;
			margin-top: 4.5px;
		}
		.dis3_materiales_linea{
			width: 100%;
			border: dashed var(--lima) 2px;
			position: absolute;
			top: 48%;
			z-index: -2;
		}

/* Panel 4 */
	.dis4{
		display: grid;
		grid-template-rows: 50% 50%;
		padding: 4% 5%;
		grid-column-gap: 5%;
		text-align: center;
		height: 100%;
	}
	.dis4_col{
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.dis4_chamarra_div{
		position: relative;
		width: 50%;
		max-width: 350px;
	}
	.dis4_chamarra_div img{
		width: 100%;
	}
	.dis4_button1{
		position: absolute;
		top: 5%;
		left: 30%;
		z-index: 100;
	}
	.dis4_texto{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 70%;
	}
	.dis4_col1_texto{
		width: 100%;
	}
	.dis4_titulo{
		color: var(--lima);
		text-align: left;
		letter-spacing: .5px;
	}
	.dis4_p{
		text-align: left;
		color: #fff;
		line-height: 1.5;
		width: 100%;
		margin-top: .5rem;
	}
	.dis4_col1_reveal{
		opacity: 0;
		transition: opacity 0.5s ease;
		background-image: url('../img/diseno/textura_blanca.png');
		background-size: cover;
		width: 95%;
		padding: 1.5rem 1rem;
		border-radius: 1rem;
		box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.75);
		opacity: 0;
		max-width: 800px;
		position: absolute;
		left: 2.5%;
		top: 10%;
	}
	.dis4_col1_flecha_div{
		display: flex;
		align-items: flex-start;
	}
	.dis4_col1_flecha{
		width: 9%;
		margin-left: 2rem;
	}
	
	.dis4_col1_flecha_div p{
		width: 50%;
		text-align: left;
		padding-top: 7%;
		margin-left: 1rem;
	}
	.dis4_grafica_uso img{
		width: 90%;
		margin-left: 10%;
		margin-top: 2rem;
	}

	.dis4_col2{
		padding-left: 10%;
		position: relative;
	}
	.dis4_col2 .dis4_p{
		width: 80%;
	}
	.dis4_artesano_div{
		position: relative;
	}
	.dis42_texto{
		/*opacity: 0;*/
		transition: opacity 0.5s ease;
	}
	.dis4_button2{
		position: absolute;
		top: 20%;
		left: 18%;
		z-index: 100;
	}
	.dis4_col2_reveal{
		opacity: 0;
		transition: opacity 0.5s ease;
		background-image: url('../img/diseno/textura_blanca.png');
		background-size: cover;
		width: 95%;
		padding: 1.5rem 1rem;
		border-radius: 1rem;
		box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.75);
		opacity: 0;
		max-width: 800px;
		position: absolute;
		left: 2.5%;
		top: 10%;
	}
	.artesano{
		width: 50%;
	}
	.dis4_p_salario{
		margin-top: 2.5rem;
	}
	.mapa_salarios{
		position: relative;
		margin-top: 1rem;
	}
	.mapa_salarios img{
		width: 60%;
	}
	.mapa_salarios_p1{
		font-size: .9rem;
		width: 30%;
		position: absolute;
		right: 5%;
		top: 5%;
	}
	.mapa_salarios_p2{
		font-size: .8rem;
		margin-top: 1rem;
	}
	.salario_cotas{
		position: absolute;
		width: 30%;
		display: grid;
		grid-template-columns: 50% 50%;
		right: 5%;
		grid-row-gap: .5rem;
		top: 25%;
	}
	.salario_cotas div{
		display: flex;
		align-items: center;
		column-gap: 1rem;
		font-size: .8rem;
		letter-spacing: 1px;
	}
	.salario_cotas span{
		width: .8rem;
		height: .8rem;
		border-radius: 50%;
	}
	.dis4_span_azul{
		background-color: #8f9fe6;
	}
	.dis4_span_verde{
		background-color: #62a87c;
	}
	.dis4_span_naranja{
		background-color: #df7d57;
	}
	.dis4_span_amarillo{
		background-color: #cbe74a;
	}
	.dis4_col1_reveal, .dis4_col2_reveal{
		position: absolute;
		opacity: 0;
		transition: opacity 0.5s ease;

	}

/* Panel 5 */
	.dis5{
		display: grid;
		grid-template-columns: 60% 35%;
		padding: 6% 5%;
		grid-column-gap: 5%;
		color: #fff;
	}
	.dis5_texto{
		opacity: 0;
		transition: opacity 0.5s ease;
	}
	.dis5_titulo{
		color: var(--lima);
		text-align: left;
		font-size: 1.4rem;
		letter-spacing: .5px;
	}
	.dis5_col1{
		padding-left: 15%;
		position: relative;
	}
	.dis5_p{
		text-align: left;
		color: #fff;
		font-size: 1.1rem;
		line-height: 1.5;
		margin-top: .5rem;
	}
	.dis5_col1 .dis5_p{
		width: 30%;
	}
	.dis5_residuos_div{
		position: relative;
	}
	.dis5_telas{
		width: 40%;
	}
	.dis5_col1_flecha{
		position: absolute;
		left: 26.5%;
		width: 3rem;
		top: 38%;
	}
	.dis5_col1 .dis_p_small{
		position: relative;
		left: 22%;
		top: -2.5%;
	}
	.dis5_sobrante{
		display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	width: 80%;
    	position: relative;
    	left: 15%;
    	column-gap: 2rem;
	}
	.dis5_sobrante>div{
		display: flex;
		text-align: center;
		font-size: .9rem;
		position: relative;
	}
	
	
	.dis5_sobrante_div_texto p:nth-child(1){
		margin-bottom: .4rem;
	}
	.dis5_sobrante_div_texto p{
		width: 85%;
	}
	.dis5_sobrante_linea{
		border: dashed 2px var(--lima);
		width: 2rem;
		position: absolute;
	}
	.upcycling_div{
		flex-direction: row-reverse;
		align-items: flex-end;
	}
	.upcycling_div .dis5_sobrante_linea{
		width: 30%;
		top: 50%;
		left: 50%;
		transform: rotate(-15deg);
	}
	.upcycling_div img{
		padding-bottom: 8%;
		width: 30%;

	}
	.patch_div{
		align-items: flex-end;
		height: 115%;
	}
	.patch_div .dis5_sobrante_linea{
		width: 25%;
		top: 40%;
		left: 25%;
		transform: rotate(20deg);
	}
	.patch_div img{
		align-self: flex-start;
		width: 30%;
	}
	.patch_div p{
		position: relative;
		margin-left: 8%;
	}
	.cotidiano_div{
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.cotidiano_div .dis5_sobrante_linea{
		width:9%;
		top: 40.5%;
		left: 40.5%;
		transform: rotate(80deg);
	}
	.cotidiano_div img{
		width: 20%;
	}
	.cotidiano_div .dis5_sobrante_div_texto{
		width: 45%;
		margin: auto;
		padding-top: 5%;
	}

	.dis5_col2{
		text-align: center;
		padding-top: 10%;
	}
	.dis5_col2 .dis5_p, .dis5_col2 .dis5_titulo{
		text-align: center;
	}
	.dis5_col2 img{
		width: 50%;
		margin-bottom: 1.5rem;
	}
	.dis5_col2 .dis5_p{
		width: 80%;
		margin: auto;
		margin-top: .8rem;
	}
	.dis5_col1_reveal{
		opacity: 0;
		transition: opacity 0.5s ease;
	}
	.dis5_button2{
		position: absolute;
		top: 20%;
		left: 18%;
	}

/* Section 6 */
	.dis6{
		padding: 8% 10%;
		color: #fff;
	}
	
	.dis6 p{
		opacity: .8;
	}
	.dis6 img{
		width: 40%;
		position: relative;
		left: -3%;
	}
	.dis7_texto{
		opacity: 0;
		transition: opacity 0.5s ease;
	}
	.dis8_texto{
		opacity: 0;
		transition: opacity 0.5s ease;
	}

/* Hilos */
	.dis_hilo{
		position: absolute;
		overflow: visible;
	}
	.div_svg1{
		position: absolute;
		width: 60%;
		height: 50%;
		z-index: 10;
	}
	.dis_hilo1{
		z-index: 10;
		width: 100%;
		top: 30%;
		left: 20%;
		transform: scale(1.3);
	}
	.dis_hilo path {
		transition: all 2s ease;
	}
	.div_svg2{
		position: absolute;
		left: 80%;
		width: 30%;
		height: 50%;
	}
	.dis_hilo2{
		width: 100%;
		top: 75%;
		left: -25%;
		z-index: 10;
		transform: rotate(-70deg) scale(.9);
	}
	.div_svg3{
		position: absolute;
		left: 50%;
		width: 30%;
		height: 100%;
		top: 0;
	}
	.dis_hilo3{
		width: 100%;
		z-index: 10;
		left: 25%;
		top: 45% !important;
		transform: rotate(-55deg) scale(1.4);
	}
	.div_svg4{
		position: absolute;
		left: 40%;
		width: 30%;
		height: 100%;
		top: 2%;
	}
	.dis_hilo4{
		width: 100%;
		top: 77%;
		left: 3%;
		z-index: 10;
		/*transform: rotate(-70deg) scale(.9);*/
	}
	.div_svg5{
		position: absolute;
		left: 50%;
		width: 30%;
		height: 80%;
		top: 10%;
	}
	.dis_hilo5{
		width: 100%;
		top: 55%;
		left: 88%;
		z-index: 10;
		transform: scale(1.4);
	}
	.div_svg6{
		position: absolute;
		left: 23%;
		width: 30%;
		height: 80%;
		top: 10%;
	}
	.dis_hilo6{
		width: 100%;
		top: 55%;
		z-index: 10;
		transform: scale(1.1);
	}
	.div_svg7{
		position: absolute;
		left: 65%;
		width: 30%;
		height: 80%;
		top: 12%;
	}
	.dis_hilo7{
		width: 100%;
		top: 55%;
		left: 88%;
		z-index: 10;
		transform: scale(1.4);
	}
	.div_svg8{
		position: absolute;
		left: 27%;
		width: 30%;
		height: 80%;
		top: 12%;
	}
	.dis_hilo8{
		width: 100%;
		top: 55%;
		left: 88%;
		z-index: 10;
		transform: scale(1.2);
	}

	

	@keyframes draw {
	to {
	  stroke-dashoffset: 0;
	}
	}

	
	
	.dis_hilo3{
		width: 55%;
		top:4%;
		right: -5%;
	}
	.dis_hilo4{
		z-index: -10;
		width: 30%;
		top: 5%;
		right: 28%;
	}
	.dis_hilo5{
		z-index: -10;
		width: 35%;
		top: 35%;
		right: -9%;
	}
	.dis_hilo6{
		z-index: -10;
		width: 25%;
		top: 15%;
		left: 32%;
	}
	.dis_hilo7{
		z-index: -10;
		width: 20%;
		top: 15%;
		right: -10%;
	}
	.dis_hilo8{
		z-index: -10;
		width: 35%;
		top: 25%;
		left: 32%;
	}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
	/* 1 */
		.dis1{
			height: 100vh;
			display: grid;
			grid-template-columns: 50vw 50vw;
			width: 100vw;
		}
		.dis1_col1{
			height: 100vh;
			background-position: 50% center;
			border: solid yellow;
		}
		.dis1_col2{
			padding: 15% 12%;
			position: relative;
			transition: all 1s ease;
			height: 100vh
		}
		.dis1_foco{
			position: absolute;
			width: 14%;
			top: 52.5%;
			left: 42.5%;
			z-index: 15;
			/*opacity: 0;*/
			transition: all 1s ease;
		}
		.dis1_titulo{
			width: 100%;
		}
		.dis1_lupa{
			opacity: 1;
		}
	/* 3  */
		.dis3{
			display: grid;
			grid-template-columns: 50% 40%;
			padding: 4% 5%;
			grid-column-gap: 5%;
			text-align: center;
			grid-template-rows: unset;
		}
		.dis3_col{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.dis3_p{
			width: 70%;
		}
		.dis3_flecha{
			margin-top: 1.5rem;
		}
		.dis3_modificables_div .dis3_button{
			top: 15%;
			left: 40%;
		}
		.dis3_revealp{
			top: 20%;
		}
		.materiales img{
			margin-top: 2rem;
		}
	/* 4 */
		.dis4{
			display: grid;
			grid-template-columns: 50% 40%;
			padding: 4% 5%;
			grid-column-gap: 5%;
			text-align: center;
			grid-template-rows: unset;
		}
		.dis4_button1{
			top: 20%;
			left: 35%;
			z-index: 100;
		}
		.dis4_col1_texto{
			width: 80%;
		}
		.dis4_col1_reveal, .dis4_col2_reveal{
			top: 20%;
		}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	/* 2 */
		.dis2_texto_numero{
			width: 52%;
		}
		.dis2_tela_div{
			width: 25%;
		}
		.dis2_reveal{
			width: 80%;
			left: 30%;
			padding: 3rem;
		}
	
	/* 3 */

		.dis3_texto_div{
			column-gap: 3rem;
		}
		.dis3_modificables_div .dis3_button{
			top: 28%;
			left: 45%;
		}
		.dis3_revealp{
			width: 80%;
			left: 10%;
			top: 20%;
		}

	/* 4  */
		.dis4_button1{
			top: 25%;
			left: 40%;
			z-index: 100;
		}
		.dis4_col1_texto{
			width: 50%;
		}
}

@media (min-width: 1400px) {
	
}

@media (min-width: 1700px) {
	
}

@media (min-width: 2000px) {
	
}

